FRONTEND_PORT=4181
BACKEND_PORT=4000
POSTGRES_PORT=5432
REDIS_PORT=6379

PUBLIC_BASE_URL=http://localhost:4181
CORS_ORIGIN=http://localhost:4181

POSTGRES_DB=tracking
POSTGRES_USER=tracking
POSTGRES_PASSWORD=tracking
JWT_SECRET=local_dev_secret
JWT_EXPIRES_IN=8h
AUTH_MODE=hybrid
OIDC_ISSUER=http://localhost:8080/realms/3dh
OIDC_CLIENT_ID=trackflow-web
OIDC_AUDIENCE=trackflow-web
OIDC_JWKS_URL=http://host.docker.internal:8080/realms/3dh/protocol/openid-connect/certs
OIDC_DEFAULT_COMPANY_ID=
PORTAL_URL=http://localhost:4180

SEED_ADMIN_EMAIL=admin@3dhmanaus.com.br
SEED_ADMIN_PASSWORD=admin123
MOBILE_REGISTRATION_SECRET=dev_mobile_secret

KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=rastreamento
KAFKA_CLIENT_ID=trackflow-backend
KAFKA_GROUP_ID=trackflow-consumer-group-pc
KAFKA_ENABLED=false
KAFKA_SSL=false
KAFKA_SASL_MECHANISM=
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
